BasedOnStyle: Microsoft
IndentWidth: 4

NamespaceIndentation: All
SpacesInParentheses: Yes

AccessModifierOffset: -4
ColumnLimit: 120

IncludeBlocks: Regroup

PointerAlignment: Left
ReferenceAlignment: Left

BreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma