**/build/*

# Anything in artefacts can go, same for exes and libs (with some exceptions)
**/Artefacts/*
*.pdb
*.exe
*.lib

# Don't ignore any of the prebuilt static libraries we depend on
!**/ThirdParty/Lib/*